@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Category Card -------------------------------------*/
.category-card {
    padding: 25px 0px 25px;
    text-align: center;
    transition: 0.4s ease-in-out;
    .box-shape {
        position: absolute;
        inset: 2px;
        pointer-events: none;
        background-size: 100% 100%;
        z-index: -1;
        background: #F9DF8A;
    }
    .box-icon {
        @include equal-size-lineHeight(120px);
        margin: 0 auto 20px auto;
    }
    .box-title {
        margin-bottom: 1px;
        transition: 0.3s;
        a {
            &:hover {
                color: $theme-color;
            }
        }
    }
    .box-subtitle {
        font-size: 14px;
        font-weight: 500;
        font-family: $black-color3;
        transition: 0.4s ease-in-out;
    }
    &:hover {
        .box-title {
            color: $theme-color;
        }
        .box-subtitle {
            color: $title-color;
        }
        .box-icon {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

.categorySlider1  .pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: auto;
        margin: 0px 0 0px 0;
    }
    .swiper-pagination-bullet {
        width: 22px;
        height: 22px;
        border-radius: 9px;
        background: #E4E4E5;
        border: 3px solid transparent;
        --swiper-pagination-bullet-horizontal-gap: 9px;
        margin-bottom: -5px;
        &:after {
            display: none;
        }
        &.swiper-pagination-bullet-active {
            background: var(--theme-color2);
            border-color: var(--title-color);
        }
    }
}
.categorySlider1 .swiper-slide{
    .category-card .box-shape {
        background: var(--theme-color);
    }
}

@include lg {
    .categorySlider1 .pagination-wrap img {
        display: none;
    }
}

/* Category Box -------------------------------------*/
.category-box {
    text-align: center;
    .box-icon {
        @include equal-size-lineHeight(150px);
        margin: 0 auto 20px auto;
        border-radius: 999px;
        position: relative;
        z-index: 2;
        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: inherit;
            z-index: -1;
        }
        &:before {
            inset: 11px;
            background-color: $white-color;
            
        }
        &:after {
            inset: 0;
            border: 2px dashed $border-color;
        }
        @include vxs {
            @include equal-size-lineHeight(130px);
        }
    }
    .box-title {
        font-size: 20px;
        margin-bottom: 5px;
        @include vxs {
            font-size: 18px;
        }
    }
    .box-text {
        font-size: 14px;
    }
    &:hover {
        .box-icon {
            img {
                transform: rotateY(180deg);
            }
            &:after {
                border-color: $theme-color;
                animation: spin 10s linear infinite;
            }
        }
    }
}