@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Consulting Area 1 ---------------------------------- */
.consulting-wrap1 {
    border-radius: 40px;
    padding: 20px;

    .page-img {
        @include ml {
            height: 600px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        @include sm {
            height: 400px;
        }
    }

    @include sm {
        border-radius: 20px;
    }
}

.consulting-form-wrap1 {
    padding: 28px 40px;

    @include ml {
        padding: 40px 40px 40px;
    }

    @include md {
        padding: 40px 30px 30px;
    }

    @include sm {
        padding: 40px 20px 20px;
    }

    @include xs {
        padding: 30px 10px 10px;
    }
}

/* Contact Area 1 ---------------------------------- */
.contact-thumb1-1 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include lg {
        position: relative;
        width: 100%;
        top: -150px;
    }

    @include md {
        top: -80px;
    }
}

.contact-form.style-border {
    border: 1px solid $border-color;
    border-radius: 50px;
    padding: 60px;

    @include md {
        border-radius: 40px;
        padding: 40px;
    }

    @include xs {
        padding: 30px;
    }
}

/* Contact Area 2 ---------------------------------- */
.contact-title-wrap {
    max-width: 713px;
}

.contact-thumb2-1 {
    @include lg {
        display: none;
    }
}

.contact-form-v2 {
    background: $title-color;
    padding: 56px;
    border-radius: 30px;

    .title-area {
        .sub-title {
            font-size: 18px;
            padding-bottom: 0;
            margin-bottom: 15px;
        }

        .title {
            font-size: 40px;

            @include lg {
                font-size: 36px;
            }

            @include sm {
                font-size: 34px;
            }

            @include lg {
                font-size: 28px;
            }
        }
    }

    @include xs {
        padding: 40px 30px;

        .title-area .sub-title {
            font-size: 16px;
        }
    }
}

.contact-info {
    background: $white-color;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.07);
    border-radius: 30px;
    padding: 40px;
    text-align: center;

    .box-icon {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $theme-color;
        color: $white-color;
        font-size: 40px;
        margin-bottom: 24px;
    }

    .box-title {
        color: $title-color;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .box-text {
        font-size: 16px;
        color: $body-color;
        margin-top: 10px;
        line-height: 1.4;
        display: grid;

        a {
            color: $body-color;

            &:hover {
                color: $theme-color;
            }
        }
    }

    @include md {
        .box-title {
            font-size: 24px;
        }
    }

    @include xs {
        display: block;

        .box-icon {
            margin-bottom: 25px;
        }

        .box-text {
            margin-bottom: -0.3em;
        }

        .box-title {
            font-size: 24px;
        }
    }
}

.contact-info-wrap2 {
    display: flex;
    justify-content: space-between;
    background: $title-color;
    flex-wrap: wrap;
    gap: 30px 30px;
    padding: 40px;
    margin: 0 -40px;
    margin-top: -160px;
    position: relative;
    z-index: 1;

    .contact-info {
        width: calc(25% - 30px);
        padding: 0;
    }

    @include xxl {
        margin: -160px 0 0;

        .contact-info {
            width: calc(50% - 30px);
        }
    }

    @include lg {
        margin-top: 60px;
    }

    @include md {
        .contact-info {
            width: 100%;
        }
    }

    @include xs {
        gap: 40px 30px;
        padding: 40px 30px;
        margin-top: 40px;
    }
}

.info-wrap {
    background: var(--smoke-color2);
    border-radius: 15px;
    padding: 45px;

    .top {
        margin-bottom: 45px;

        .box-title {
            font-size: 30px;
            width: 86%;
            line-height: 1.2;
            margin-bottom: 5px;
        }
    }

    .info-box {
        display: flex;
        gap: 10px;
        border-top: 1px solid var(--th-border-color2);
        margin-top: 40px;
        padding-top: 40px;

        .box-icon {
            background: var(--theme-color);
            display: inline-block;
            height: 50px;
            width: 50px;
            line-height: 50px;
            border-radius: 50%;
            text-align: center;
        }

        .content {
            flex: 1;

            .box-title {
                font-size: 18px;
                font-family: var(--body-font);
                margin-bottom: 10px;
            }

            .box-text a {
                color: var(--body-color);
                margin-bottom: 10px;
                display: block;
            }
        }
    }
}


.info-wrap.style2 {
    background: var(--white-color);
    border-radius: 30px;

    .info-box {

        padding-top: 26px;
        margin-top: 25px;

        &:nth-child(2) {
            margin-top: 0;
            border-radius: 0;
            border-top: 0;
            padding-top: 0;
        }

        .box-icon {
            height: 70px;
            width: 70px;
            line-height: 68px;
            background: #FF803B21;
        }
    }

    .content {
        .box-title {
            font-size: 16px;
            font-weight: 400;
            color: var(--body-color);
        }

        .box-text {
            color: var(--title-color);
            font-weight: 500;
            font-size: 18px;

            a {
                color: var(--title-color);
                font-weight: 500;
                font-family: var(--title-font);
            }
        }
    }
}


.contact-form-v1 {
    background: var(--white-color);
    padding: 55px;
    border-radius: 30px;
}

.contact-form-v1 select,
.contact-form-v1 .form-control,
.contact-form-v1 .form-select,
.contact-form-v1 textarea,
.contact-form-v1 input {
    padding: 0 30px 0 30px;
    padding-right: 30px;
}

.contact-form-v1 textarea.form-control,
.contact-form-v1 textarea {
    min-height: 178px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-radius: 30px;
}

.contact-map iframe {
    height: 550px;
    border-radius: 30px;
    border: 1px solid var(--th-border-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @include xs {
        height: 400px;
    }
}


@include xs {
    .info-wrap {
        padding: 30px 25px;
    }

    .contact-form-v1 {
        padding: 30px 25px;
    }

}

.map-shape-img {
    z-index: 1;
}

@media (max-width: 1700px) {
    .map-shape-img {
        z-index: 1;
        width: 460px;
        bottom: 9% !important;
        left: 1% !important;
    }
}

@media (max-width: 1500px) {
    .map-shape-img {
        z-index: 1;
        width: 400px;
        bottom: 5% !important;
        left: -1% !important;
    }
}