@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Faq 1 ---------------------------------- */
.accordion-card {
    transition: 0.4s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    background-color: $white-color;
    text-align: left;
    position: relative;
    z-index: 3;
    padding-bottom: 13px;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    .accordion-button {
        font-size: 18px;
        font-weight: 500;
        font-family: $title-font;
        border: 0;
        color: $title-color;
        background-color: transparent;
        border-radius: 0;
        padding: 27px 55px 12px 30px;
        gap: 10px;
        margin-bottom: 0;
        text-align: left;
        transition: 0.3s;
        position: relative;

        .count {
            display: inline-block;
            margin-right: 10px;
        }

        &:after {
            content: "\2b";
            height: 100%;
            width: auto;
            line-height: 1;
            background-color: transparent;
            background-image: none;
            font-family: $icon-font;
            color: $title-color;
            font-weight: 500;
            font-size: 1em;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 6px;
            right: 30px;
            transition: 0.3s ease-in-out;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:not(.collapsed) {
            &:after {
                content: "\f068";
                transform: rotate(180deg);
            }
        }
    }

    .accordion-collapse {
        border: none;
    }

    .accordion-body {
        border: none;
        padding: 0px 30px 14px;
        margin: 0 30px;
    }

    .faq-text {
        margin-bottom: -0.48em;
    }
}

@include xs {
    .accordion-card {
        padding-bottom: 6px;

        .accordion-button {
            font-size: 16px;
            padding: 20px 55px 12px 20px;
            align-items: start;

            &:after {
                right: 20px;
            }
        }

        .accordion-body {
            padding: 0px 0 20px;
            margin: 0 20px;
        }

        .faq-text {
            font-size: 14px;
        }
    }
}

.faq-img-box1 {
    border-radius: 32px;
    overflow: hidden;
    margin-right: -140px;

    img {
        width: 100%;
    }
}

@include xxl {
    .faq-img-box1 {
        margin-right: -50px;
    }
}

@include ml {
    .faq-img-box1 {
        margin-right: 0px;
    }
}

/* Faq 2 ---------------------------------- */

.faq-sec-2 {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: #1F1F1F;
        z-index: -1;
    }

}

.faq2-gradient-wrap {
    position: absolute;
    right: -4%;
    top: 23%;
    z-index: -1;

    .gradient-box {
        position: relative;

        .faq2-mask {
            background: #E87229;
            height: 470px;
            width: 970px;
        }

        .faq2-mask2 {
            width: 800px;
            height: 442px;
            background: var(--theme-color);
            position: absolute;
            left: 7px;
            top: 66px;

        }

    }
}

.accordion-2-wrap {
    margin-left: -60px;
    padding-right: 60px;
}

.faq-img-box2 {
    margin-bottom: -134px;
    margin-right: -240px;
    position: relative;
}

.accordion-card.style2 {
    border-radius: 10px;

    .accordion-body {
        border: none;
        padding: 0px 0px 14px;
        margin: 0 30px;

        .accordion-card .faq-text {
            margin-bottom: -0.48em;
            color: var(--black-color3);
        }
    }

    .accordion-button {
        padding: 17px 25px 5px 30px;

        &:after {
            display: none;
        }
    }

    &:not(:last-child) {
        margin-bottom: 18px;
    }

    &:has(.accordion-collapse.show) {
        .accordion-button {
            padding: 23px 30px 10px 30px;
            font-size: 20px;

            &:after {
                display: none;
            }
        }
    }
}

@media (max-width: 1800px) {
    .faq2-gradient-wrap {
        right: -9%;
    }
}

@media (max-width: 1700px) {
    .faq2-gradient-wrap {
        right: -12%;
    }
}

@media (max-width: 1600px) {
    .faq2-gradient-wrap {
        right: -15%;
        top: 34%;
    }

    .faq-img-box2 {
        margin-bottom: -254px;
        margin-right: -142px;
    }
}

@media (max-width: 1500px) {
    .accordion-2-wrap {
        margin-left: 0px;
        padding-right: 20px;
    }

    .faq2-gradient-wrap {
        right: -18%;
    }

    .faq-img-box2 {
        margin-bottom: -330px;
        margin-right: -50px;
    }

    .faq2-gradient-wrap {
        right: -19%;
        top: 39%;
    }
}

@include ml {
    .faq-img-box2 {
        margin-bottom: -320px;
        margin-right: -100px;
    }

    .faq2-gradient-wrap {
        right: -26%;
        top: 39%;
    }
}

@include lg {
    .faq-sec-2::before {
        width: 100%;
    }

    .faq2-gradient-wrap {
        display: none;
    }

    .faq-img-box2 {
        margin-bottom: -170px;
        margin-right: 0px;
    }
}

@include md {
    .faq-img-box2 {
        margin-bottom: -95px;
    }
}


/* Faq 2 Service page ---------------------------------- */

.accordion-card.style-2 {
    background: var(--white-color);
    border-radius: 48px;
}

@include sm {
    .accordion-card.style-2 {
        border-radius: 20px;
    }
}


/* Faq 2 ---------------------------------- */
.accordion-card.style3 {
    border-radius: 5px;
    background: var(--smoke-color2);
    padding-bottom: 0;

    .accordion-button {
        color: $title-color;
        padding: 27px 70px 27px 48px;

        .count {
            height: 35px;
            width: 35px;
            line-height: 34px;
            background: var(--theme-color);
            text-align: center;
            border-radius: 50%;
            color: var(--white-color);
            flex-shrink: 0;
        }

        &:after {
            color: $title-color;
            top: 0px;
            right: 48px;
        }
    }

    .faq-text {
        color: $body-color;
    }

    .accordion-body {
        margin: 25px 0 20px 0;
    }

    &:has(.accordion-collapse.show) {
        .accordion-button {
            color: var(--white-color);
            background: var(--theme-color);

            .count {
                background: var(--white-color);
                color: var(--theme-color);
            }

            &:after {
                color: var(--white-color);
            }
        }
    }

    &:has(.accordion-button.collapsed) {
        background-color: var(--smoke-color2);
        border: 0;
    }

    @include lg {
        padding-bottom: 13px;

        .accordion-button {
            padding: 27px 55px 12px 30px;
            font-size: 20px;

            &:after {
                right: 30px;
            }
        }

        .accordion-body {
            margin: 0 30px;
        }
    }

    @include md {
        border-radius: 8px;
    }
}
