@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Hero Global ---------------------------------- */
.th-hero-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.th-hero-bg {
    position: absolute;
    inset: 0;
    z-index: -2;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* Hero 1 ---------------------------------- */
.hero-title {
    margin-bottom: 18px;
    margin-top: -0.22em;

    span {
        display: block;

        .text-theme {
            display: inline-block;
        }
    }
}

.hero-text {
    margin-bottom: 32px;
    font-size: 16px;
}

.hero-1 {
    position: relative;

    .th-hero-bg {
        inset: 32px 32px 0;
        border-radius: 32px;
        overflow: hidden;

        @include ml {
            border-radius: 24px;
        }

        @include xl {
            inset: 24px 24px 0;
        }

        @include lg {
            mask-image: none !important;
            inset: 16px 16px 0;
        }

        @include xs {
            inset: 0;
            border-radius: 0 0 24px 24px;
        }
    }

    .circle-tag {
        position: absolute;
        left: 50%;
        bottom: 26px;
        transform: translate(-50%, 0);
        z-index: 7;

        @include xxl {
            width: 140px;
            height: 140px;
            bottom: 24px;

            .circle-title-anime {
                width: 140px;
                height: 140px;
                margin-left: -70px;
                margin-top: -70px;

                span {
                    height: 75px;
                }
            }
        }

        @include ml {
            width: 120px;
            height: 120px;

            .circle-title-anime {
                width: 120px;
                height: 120px;
                margin-left: -60px;
                margin-top: -60px;
                font-size: 14px;

                span {
                    height: 64px;
                    left: 41.5%;
                }
            }
        }

        @include lg {
            bottom: 220px;
        }

        @include xs {
            bottom: 225px;
            left: 15px;
            transform: none;
        }

        @media (max-width: 440px) {
            bottom: 315px;
            left: 15px;
            transform: none;
        }

    }

    .client-group-wrap {
        display: flex;
        gap: 8px;
        align-items: center;
        position: absolute;
        bottom: 109px;
        left: 135px;
        z-index: 1;
        max-width: 478px;

        .star-rating {
            &:before {
                color: $theme-color;
            }
        }

        .box-text {
            font-size: 18px;
            color: $body-color;
        }

        @media (max-width: 1600px) {
            left: 80px;
        }

        @include xxl {
            left: 32px;
        }

        @include ml {
            max-width: 400px;
            bottom: 90px;
        }

        @include lg {
            position: initial;
            max-width: none;
            justify-content: center;
            margin-top: 30px;
        }

        @include xs {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .hero-counter-wrap {
        position: absolute;
        right: 135px;
        bottom: 101px;
        display: flex;
        gap: 30px 64px;
        z-index: 1;
        max-width: 472px;
        flex-wrap: wrap;

        @media (max-width: 1600px) {
            right: 80px;
        }

        @include xxl {
            right: 32px;
        }

        @include ml {
            bottom: 90px;
            gap: 30px 40px;
        }

        @include xl {
            gap: 30px;
        }

        @include lg {
            position: initial;
            max-width: none;
            justify-content: space-between;
            margin: 30px 30px 0px;
        }

        @include xs {
            margin: 30px 15px 0px;
        }

        .counter-card {
            padding: 0;
            text-align: start;
            margin-bottom: -0.3em;

            .box-number {
                font-size: 40px;
                font-weight: 500;

                @include xl {
                    font-size: 36px;
                }
            }

            .box-text {
                font-size: 16px;
                font-weight: 400;
                color: $body-color;
                margin-top: 2px;
            }
        }
    }

    .icon-box {
        position: absolute;
        right: 64px;
        bottom: 227px;
        z-index: 1;

        @include xl {
            bottom: 200px;
            right: 50px;
        }

        @include lg {
            bottom: 220px;
        }

        @include xs {
            bottom: 300px;
            right: 15px;
        }

        @media (max-width: 575px) {
            bottom: 300px;
        }
    }
}

.hero-style1 {
    position: relative;
    z-index: 6;
    padding: 250px 0 348px;

    @include ml {
        padding: 240px 0 328px;
    }

    @include xl {
        padding: 220px 0 300px;
    }

    @include lg {
        padding: 220px 0 230px;
    }

    @include xs {
        padding: 180px 0 200px;
    }

    .hero-text {
        max-width: 595px;
        margin-right: auto;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.555;

        @include lg {
            font-size: 16px;
        }
    }

    .btn-wrap {
        gap: 24px;
        margin-top: 50px;
    }
}

/* Hero 2 --------------------------------------*/
.hero-2 {
    position: relative;

    .background-image {
        background-position: unset;
    }
}

.hero-style2 {
    position: relative;
    z-index: 6;
    padding: 300px 0 350px;

    @include xxl {
        padding: 250px 0 200px;
    }

    @include ml {
        padding: 255px 0 205px;
    }

    @include xl {
        padding: 230px 0 180px;
    }

    @include lg {
        padding: 190px 0 170px;
    }

    @include md {
        .hero-style2 {
            padding: 165px 0 170px;
        }
    }

    @include sm {
        padding: 160px 0 175px;
    }

    @include xs {
        padding: 165px 0 180px;
    }

    .hero-title {
        margin-bottom: 20px;

        span {
            display: inline-block;
        }
    }

    .btn-wrap {
        gap: 24px;
        margin-top: 30px;
    }

    .checklist {
        margin-bottom: 45px;

        li {
            color: var(--title-color);
            line-height: 1.60;

            &::before {
                background: var(--title-color);
            }
        }
    }

    @include lg {
        text-align: center;

        .hero-title {
            margin-bottom: 15px;
        }

        .hero-text {
            margin-left: auto;
            margin-right: auto;
        }

        .btn-wrap {
            justify-content: center;
        }

        .checklist ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
    }
}

/* Hero 3 --------------------------------------*/

.hero-3 {
    .hero-inner {
        position: relative;
    }

    .hero-bg-shape3 {
        position: absolute;
        inset: 0 40px;
        border-radius: 100px;
    }

    .shape-mockup {
        z-index: 3;
    }
}

.hero-3 {
    .slider-pagination {
        left: 139px;
        bottom: 100px;
        position: absolute;
        text-align: start;

        .swiper-pagination-bullet {
            width: 45px;
            height: 10px;
            border-radius: 20px;
            background: #999999;
            --swiper-pagination-bullet-horizontal-gap: 6px;

            &.swiper-pagination-bullet-active {
                width: 80px;
                background: var(--title-color);
            }

            &:after {
                display: none;
            }
        }
    }
}

@include hd {
    .hero-3 .slider-pagination {
        left: 427px;
        bottom: 100px;
        position: absolute;
        text-align: start;
    }
}

.hero-style3 {
    padding: 193px 0;

    .sub-title {
        display: flex;
        gap: 10px;
        font-size: 20px;
        color: var(--title-color);
        font-weight: 700;
        padding: 0;
    }

    .hero-title {
        font-weight: 600;
        line-height: 1.142;
    }

    .hero-text {
        font-size: 20px;
        color: var(--black-color3);
        margin-bottom: 28px;
        width: 75%;
    }
}

.hero3-img {
    position: relative;
    margin-bottom: -41px;
    padding-top: 130px;
    text-align: end;

    &:before {
        content: "";
        position: absolute;
        background: #E6D445;
        z-index: -1;
        border-radius: 100px;
        width: 111%;
        height: 97%;
        left: -52px;
        bottom: 30px;
    }

    img {
        margin-bottom: 30px;
    }
}

@media (max-widtH: 1800px) {
    .hero-3 .hero-shape-3-2 {
        right: 2% !important;
    }
}


@media (max-width: 1700px) {
    .hero-3 .hero-bg-shape3 {
        inset: 0 0px;
    }
}

@media (max-width: 1600px) {
    .hero-3 .hero-bg-shape3 {
        inset: 0 30px;
    }

    .hero-style3 .hero-title {
        font-size: 70px;
    }

    .hero-style3 {
        padding: 155px 0;
    }

    .hero-3 .slider-pagination {
        bottom: 75px;
    }

    .hero-3 .hero-shape-3-3 {
        width: 180px;
        left: 40% !important;
    }

    .hero-3 .hero-shape-3-2 {
        right: 1% !important;
        width: 60px;
        top: 39% !important;
    }
}

@include xxl {
    .hero-3 .slider-pagination {
        bottom: 75px;
        left: 69px;
    }
}

@include ml {
    .hero3-img::before {
        width: 106%;
        left: -30px;
        bottom: 30px;
    }
}

@include xl {
    .hero-style3 .hero-title {
        font-size: 58px;
    }

    .hero-3 .hero-shape-3-3 {
        width: 120px;
        left: 45% !important;
    }
}

@include lg {
    .hero-3 .slider-pagination {
        bottom: 80px;
        left: 115px;
    }

    .hero-style3 .hero-title {
        font-size: 50px;
    }

    .hero-style3 .hero-text {
        font-size: 20px;
        color: var(--black-color3);
        margin-bottom: 28px;
        width: 93%;
    }

    .hero-3 .hero-shape-3-1 {
        width: 70px;
        top: 23% !important;
        left: 53% !important;
    }

    .hero-3 .hero-shape-3-2 {
        right: 6% !important;
        width: 70px;
    }

    .hero-3 .hero-shape-3-3 {
        width: 95px;
        left: 49% !important;
    }
}

@media (max-width:1024px) {
    .hero-3 .slider-pagination {
        left: 49px;
    }
}

@include md {
    .hero-style3 {
        padding: 92px 0 35px;
    }

    .hero-3 {
        padding-bottom: 0px;
    }

    .hero-3 .slider-pagination {
        display: none;
    }

    .hero-3 .hero-shape-3-1 {
        width: 70px;
        top: 43% !important;
        left: 48% !important;
    }

    .hero-3 .hero-shape-3-2 {
        right: 3% !important;
        width: 53px;
        top: 59% !important;
    }

    .hero-3 .hero-shape-3-3 {
        width: 120px;
        left: 7% !important;
        top: 54% !important;
    }

    .hero3-img::before {
        width: 104%;
        left: 0;
        bottom: 30px;
        border-radius: 40px;
    }

    .hero-3 .hero-bg-shape3 {
        inset: 0 0px;
        border-radius: 50px;
    }

    .hero3-img {
        position: relative;
        margin-bottom: 0px;
        padding-top: 80px;
        text-align: center;
    }

    .hero-style3 {
        text-align: center;
    }

    .hero-style3 .sub-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .hero-style3 .hero-text {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
    }
}

@include sm {
    .hero-3 .hero-shape-3-1 {
        width: 70px;
        top: 49% !important;
        left: 48% !important;
    }
}

@media (max-width: 425px) {
    .hero-style3 .sub-title {
        margin-bottom: 15px;
    }

    .hero-style3 .hero-title {
        font-size: 40px;
    }

    .hero-style3 .hero-text {
        width: 100%;
        font-size: 18px;
    }

    .hero-3 .hero-shape-3-1 {
        width: 44px;
        top: 55% !important;
        left: 55% !important;
    }

    .hero-3 .hero-shape-3-3 {
        width: 82px;
        left: 3% !important;
        top: 65% !important;
    }

    .hero-3 .hero-shape-3-2 {
        right: 1% !important;
        width: 35px;
        top: 69% !important;
    }
}

@include vxs {
    .hero-style3 {
        padding: 75px 0 35px;
    }

    .hero-3 .hero-shape-3-1 {
        top: 61% !important;
    }
}