@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Trending-week-product ---------------------------------- */

.week-treading-product-sec1 {
     .slider-arrow {
        left: var(--pos-x, -30px);
        --icon-size: 48px;
        background: transparent;
        border: 1px solid var(--th-border-color2);
        color: var(--title-color);
        box-shadow: 0px 6px 40px rgba(16, 17, 17, 0.14);
        &:hover {
            background: var(--theme-color2);
            border-color: var(--black-color);
        }
        &.slider-next {
            right: var(--pos-x, -30px);
            left: unset;
        }
    }

}