@use 'base/variable' as *;
@use 'base/mixin' as *;

/* Why Choose Us Area ---------------------------------- */
.why-img-box1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -150px;
    text-align: center;
    z-index: 3;

    @include md {
        position: relative;
        bottom: -110px;
        margin-top: -30px;
    }

    @include xs {
        bottom: -97px;
        margin-top: -17px;
    }
}

.why-wrap1 {
    position: relative;

    .btn-wrap {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 178px;

        @include md {
            position: relative;
            transform: none;
            left: auto;
            top: auto;
            margin-top: 40px;
        }
    }
}

.why-card-wrap {
    display: flex;
    position: relative;
    justify-content: center;

    @include md {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        gap: 40px 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &:after {
        content: '';
        position: absolute;
        inset: 25px 70px -122px;
        border: 1px solid $white-color;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        z-index: -1;

        @include lg {
            inset: 25px 50px -122px;
        }

        @include md {
            display: none;
        }
    }

    .why-card {

        &:last-child,
        &:first-child {
            margin-top: 211px;

            @include md {
                margin-top: 0;
            }
        }

        &:nth-child(4),
        &:nth-child(2) {
            margin-top: 68px;

            @include md {
                margin-top: 0;
            }
        }

        &:nth-child(2) {
            margin-left: -50px;

            @include md {
                margin-left: auto;
            }
        }

        &:nth-child(4) {
            margin-right: -50px;

            @include md {
                margin-right: auto;
            }
        }
    }
}

.why-card {
    text-align: center;
    max-width: 197px;
    margin-left: auto;
    margin-right: auto;

    .box-number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $white-color;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 500;
        font-family: $title-font;
        color: $title-color;
        margin-bottom: 16px;
    }

    .box-title {
        margin-bottom: -0.4em;
        font-size: 24px;
        font-weight: 500;

        @include lg {
            font-size: 20px;
        }
    }
}

/* Why Choose Us Area 1.1 ---------------------------------- */
.why-slider1_2 {
    .pagination-wrap {
        margin-top: 25px;
        position: relative;
        display: flex;
        align-items: center;
        @include sm {
            margin-top: 30px;
        }
    }
    .slider-pagination {
        margin-top: 0;
    }
    .slider-arrow {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        top: auto;
        bottom: 0;
        --icon-size: 50px;
        flex: none;
        &.slider-prev {
            left: 0;
        }
        &.slider-next {
            right: 0;
        }
    }
}

.why-inner-card {
    .top {
        margin-top: 8px;
        margin-bottom: 30px;
        text-align: center;

        .box-title {
            padding: 12px 23px;
            border: 1px solid #A1A4B1;
            display: inline-block;
            border-radius: 48px;
        }
    }
    .box-content {
        padding: 30px;
    }
    .box-img {
        img {
            width: 100%;
            border-radius: 16px;
        }
    }
}

@include md {
    .why-inner-card .box-content {
        padding: 20px;
    }
    .why-slider1_2 .pagination-wrap {
        margin-top: 20px;
    }
}


